
@{
    ViewData["Title"] = "edit_user";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
	<div class="col-lg-12">
		<div class="panel-content">
			<div class="row merged20 mb-3">
				<div class="col-lg-12">
					<div class="d-widget">
						<div class="d-widget-title">
							<h4>Member Edit</h4>
						</div>

						<form enctype="multipart/form-data">


							<div class="form-group row">





								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">Applicant Name</label>
										</div>
										<div class="col-md-8 ">
											<input type="text" class="form-control" id="txtassociate_name" name="txtassociate_name" value="Nileshh Kumar" placeholder="Enter Name" readonly="">
										</div>
									</div>
								</div>



								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">Father Name </label>
										</div>
										<div class="col-md-8 ">
											<input type="text" class="form-control" id="txtparent" name="txtparent" value="" placeholder="Father Name">
										</div>
									</div>
								</div>


								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">Gender</label>
										</div>
										<div class="col-md-8 ">
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="rbgender" id="rbgender1" value="1">
												<label class="form-check-label" for="inlineRadio1">Male</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="rbgender" id="rbgender2" value="0">
												<label class="form-check-label" for="inlineRadio2">Female</label>
											</div>


										</div>
									</div>
								</div>





								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">Date of Birth</label>
										</div>
										<div class="col-md-8  input-daterange input-group">
											<input type="date" class="form-control" id="txtdob" name="txtdob">

										</div>
									</div>
								</div>

								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">Mobile no</label>
										</div>
										<div class="col-md-8 ">
											<input type="text" class="form-control" id="txtmobile" name="txtmobile" placeholder="Enter Mobile" value="9089786789">
										</div>
									</div>
								</div>

								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">Email</label>
										</div>
										<div class="col-md-8 ">
											<input type="text" class="form-control" id="txtemail" name="txtemail" placeholder="Enter Email" value="nileshkumar23240@gmail.com">
										</div>
									</div>
								</div>

								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">State</label>
										</div>
										<div class="col-md-8 ">
											<select class="form-control" id="ddstate" name="ddstate" onchange="get_city()">
												<option value="">Select State</option>
												<option value="2">ANDAMAN AND NICOBAR ISLANDS</option>
												<option value="3">ANDHRA PRADESH</option>
												<option value="4">ARUNACHAL PRADESH</option>
												<option value="5">ASSAM</option>
												<option value="6">BIHAR</option>
												<option value="7">CHANDIGARH</option>
												<option value="8">CHHATTISGARH</option>
												<option value="9">DADRA AND NAGAR HAVELI</option>
												<option value="10">DAMAN AND DIU</option>
												<option value="11">DELHI</option>
												<option value="12">GOA</option>
												<option value="13">GUJARAT</option>
												<option value="14">HARYANA</option>
												<option value="15">HIMACHAL PRADESH</option>
												<option value="16">JAMMU AND KASHMIR</option>
												<option value="17">JHARKHAND</option>
												<option value="18">KARNATAKA</option>
												<option value="19">KERALA</option>
												<option value="20">LAKSHADWEEP</option>
												<option value="21">MADHYA PRADESH</option>
												<option value="22">MAHARASHTRA</option>
												<option value="23">MANIPUR</option>
												<option value="24">MEGHALAYA</option>
												<option value="25">MIZORAM</option>
												<option value="26">NAGALAND</option>
												<option value="27">ORISSA</option>
												<option value="28">PUDUCHERRY</option>
												<option value="29">PUNJAB</option>
												<option value="30">RAJASTHAN</option>
												<option value="31">SIKKIM</option>
												<option value="32">TAMIL NADU</option>
												<option value="33">TRIPURA</option>
												<option value="34">UTTAR PRADESH</option>
												<option value="35">UTTARAKHAND</option>
												<option value="36">WEST BENGAL</option>
												<option value="296">TELANGANA</option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">

											<label class="form-label ">City</label>
										</div>
										<div class="col-md-8 ">
											<select class="form-control" id="ddcity" name="ddcity">
												<option value="0">Select</option>
											</select>

										</div>
									</div>
								</div>



								<div class="col-lg-6 mb-2">
									<div class="row  align-items-center ">
										<div class="col-md-4">
											<label class="form-label ">Address</label>
										</div>
										<div class="col-md-8 ">
											<textarea type="text" class="form-control" id="txtaddress" name="txtaddress" placeholder="Enter Address"></textarea>
										</div>
									</div>
								</div>







							</div>

							<div class="form-group row">
								<div class="col-md-8 offset-2">



									<button type="submit" class="button primary ">Update</button>
									<button type="Reset" class="button danger">Reset</button>
								</div>
							</div>

						</form>


					</div>
				</div>
			</div>


		</div>
	</div>
</div>
