
@{
    ViewData["Title"] = "ApproveKYC";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row merged20 mb-3">
	<div class="col-lg-12">
		<div class="d-widget">
			<div class="d-widget-title">
				<h4>Approve KYC </h4>
			</div>
			<table class="table table-default  table-responsive">
				<thead>
					<tr>
						<th>Sn</th>
						<th>User Id</th>
						<th>User Name</th>
						<th>Date</th>
						<th>Pancard</th>
						<th>Bank Proof</th>
						<th>Adhar Front</th>
						<th>Adhar Second</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>


						<td>WLG350491</td>

						<td>Nileshh Kumar</td>


						<td>
						</td>

						<td></td>

						<td></td>

						<td></td>
						<td></td>

						<td>
						<td>
							<button class="button outline-primary small transition-3d-hover">
								<i class="icofont-pen-alt-1"></i> Edit
							</button>
						</td>
						</td>

					</tr>



				</tbody>
			</table>
		</div>
	</div>
</div>

