
@{
    ViewData["Title"] = "BankDetails";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row merged20 mb-3">
	<div class="col-lg-12">
		<div class="d-widget">
			<div class="d-widget-title">
				<h4>View Bank Detail</h4>
			</div>
			<table class="table table-default  table-responsive">
				<thead>
					<tr>
						<th>Sn</th>
						<th>Action</th>
						<th>User Id</th>
						<th>User Name</th>
						<th>Bank</th>
						<th>Branch</th>
						<th>IFSC Code</th>
						<th>Account Number</th>
						<th>AAdhar</th>
						<th>PAN</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>
							<a data-toggle="modal" data-target="#exampleModalCenter" class="button outline-primary small transition-3d-hover">
								<i class="icofont-pen-alt-1"></i> Edit
							</a>
						</td>

						<td>WLG350491</td>

						<td>Nileshh Kumar</td>


						<td>
						</td>

						<td></td>

						<td></td>

						<td></td>
						<td></td>

						<td></td>

					</tr>



				</tbody>
			</table>
		</div>
	</div>
</div>

