
@{
    ViewData["Title"] = "QueryBox";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row merged20 mb-4">
	<div class="col-lg-10 mb-3">
		<div class="d-widget">
			<div class="d-widget-title">
				<h4>Query Box</h4>
			</div>


			<table class="table table-default  table-responsive">
				<thead>
					<tr>
						<th>SN</th>
						<th>Title</th>
						<th>Descriptipn</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>

					<tr>


						<td>WLG123456</td>
						<td>WLG123456</td>
						<td>WLG123456</td>
						<td>WLG123456</td>

				</tbody>


			</table>




		</div>
	</div>

</div>


