@model Paying_Hub.Models.MemberMaster;
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var sucessmessage = TempData["Success"] as string;
    TempData["Success"] = null;
    var error = TempData["Error"] as string;
    TempData["Error"] = null;

}


@if (!string.IsNullOrEmpty(sucessmessage))
{
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        @sucessmessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        @error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
    <div class="row merged20 mb-3">
        <div class="col-lg-12">
            <div class="d-widget">
                <div class="d-widget-title">
                    <h3>Registration</h3>
                </div>

            <form id="registerForm" asp-action="Registration" asp-controller="Member" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Sponsor Id</label>
                            <input type="text" class="form-control" asp-for="SponserId" id="txtintroducer_id" onblur="get_intro_detail()" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Sponsor Name</label>
                                <input type="text" class="form-control" asp-for="SponserName" id="txtintroducer_name" value="" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Applicant Name</label>
                                <input type="text" class="form-control" id="txtassociate_name" asp-for="Name" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Mobile No</label>
                            <input type="text" class="form-control" id="txtmobile" asp-for="MobileNumber" placeholder="Enter Mobile">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Email</label>
                            <input type="text" class="form-control" id="txtemail" asp-for="EmailId" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">State</label>
                            <select class="form-control" id="ddstate" asp-for="State" onchange="get_city()">
                                    <option value="1">Select State</option>
                                    <option value="2">ANDAMAN AND NICOBAR ISLANDS</option>
                                    <option value="3">ANDHRA PRADESH</option>
                                    <option value="4">ARUNACHAL PRADESH</option>
                                    <option value="5">ASSAM</option>
                                    <option value="6">BIHAR</option>
                                    <option value="7">CHANDIGARH</option>
                                    <option value="8">CHHATTISGARH</option>
                                    <option value="9">DADRA AND NAGAR HAVELI</option>
                                    <option value="10">DAMAN AND DIU</option>
                                    <option value="11">DELHI</option>
                                    <option value="12">GOA</option>
                                    <option value="13">GUJARAT</option>
                                    <option value="14">HARYANA</option>
                                    <option value="15">HIMACHAL PRADESH</option>
                                    <option value="16">JAMMU AND KASHMIR</option>
                                    <option value="17">JHARKHAND</option>
                                    <option value="18">KARNATAKA</option>
                                    <option value="19">KERALA</option>
                                    <option value="20">LAKSHADWEEP</option>
                                    <option value="21">MADHYA PRADESH</option>
                                    <option value="22">MAHARASHTRA</option>
                                    <option value="23">MANIPUR</option>
                                    <option value="24">MEGHALAYA</option>
                                    <option value="25">MIZORAM</option>
                                    <option value="26">NAGALAND</option>
                                    <option value="27">ORISSA</option>
                                    <option value="28">PUDUCHERRY</option>
                                    <option value="29">PUNJAB</option>
                                    <option value="30">RAJASTHAN</option>
                                    <option value="31">SIKKIM</option>
                                    <option value="32">TAMIL NADU</option>
                                    <option value="33">TRIPURA</option>
                                    <option value="34">UTTAR PRADESH</option>
                                    <option value="35">UTTARAKHAND</option>
                                    <option value="36">WEST BENGAL</option>
                                    <option value="296">TELANGANA</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">City</label>
                            <select class="form-control" id="ddcity" asp-for="City">
                                    <option value="1">Select</option>
                                <option value="1">sultanpur</option>
                                <option value="2">Kanpur</option>
                                <option value="3">AmbedkarNagar</option>
                                <option value="4">Jaunpur</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Nominee's Name</label>
                            <input type="text" class="form-control" id="nominee_name" asp-for="NomineeName" placeholder="Enter Nominee's Name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Nominee's Age</label>
                            <input type="date" class="form-control" id="nominee_age" asp-for="NomineeAge">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label class="form-label">Nominee's Relation</label>
                            <input type="text" class="form-control" id="nominee_relation" asp-for="NomineeRelation" placeholder="Enter Relation">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="button primary mt-3">Create Account</button>
                </form>

            </div>
        </div>
    </div>

<script>
        $('#txtintroducer_id').on('blur', function () {
        var sponserId = $(this).val();
        if (sponserId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSponserName", "Member")',
                data: { sponserId: sponserId },
                success: function (response) {
                    if (response.sponserName && response.sponserName.trim() !== "") {
                        $('#txtintroducer_name').val(response.sponserName);
                    } else {
                        $('#txtintroducer_name').val("");
                        alert("Please enter a valid Sponsor ID.");
                    }
                },
                error: function () {
                    alert("Error fetching sponsor name.");
                }
            });
        }
    });

</script>
