
@{
    ViewData["Title"] = "ViewUserDownLine";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row merged20 mb-4">
	<div class="col-lg-8 mb-3">
		<div class="d-widget">
			<div class="d-widget-title">
				<h4>View User Downline	</h4>
			</div>

			<form class="row">

				<div class="form-group col-md-12">
					<div class="row align-items-center">
						<label class="col-md-4 form-label">User Id</label>
						<div class="col-md-8">

							<input type="text" class="form-control" placeholder="Enter Login Id" id="txtuserid" name="txtuserid">

						</div>
					</div>
				</div>




				<div class="col-md-8 offset-4">
					<button type="submit" class="button primary small">Submit</button>
					<button type="Reset" class="button danger small">Reset</button>
				</div>








			</form>

		</div>
	</div>
	<div class="col-lg-12">
		<div class="d-widget mb-4">
			<div class="d-widget-title">
				<h4>View Direct Referral</h4>
			</div>

			<button type="submit" class="button primary my-2">Export To Excel</button>

			<table class="table table-default  table-responsive">
				<thead>
					<tr>
						<th>S.No</th>
						<th>Login Id</th>
						<th>Login Name</th>
						<th>Mobile</th>
						<th>Package</th>
						<th>Joining Date </th>

					</tr>
				</thead>
				<tbody>
					<tr>

						<td>Nileshh </td>
						<td>Nileshh </td>
						<td>Nileshh </td>
						<td>Nileshh </td>
						<td>Nileshh </td>
						<td>Nileshh </td>


					</tr>


				</tbody>


			</table>


		</div>

	</div>
</div>

