
@{
    ViewData["Title"] = "WithdrawalStatusReport";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row merged20 mb-3">
	<div class="col-lg-12">
		<div class="d-widget">
			<div class="d-widget-title">
				<h4>View Withdrawal Deactive Report</h4>
			</div>

			<table class="table table-default  table-responsive">
				<thead>
					<tr>
						<th>Sn</th>
						<th> User Id</th>
						<th> User Name</th>
						<th>Status</th>
						<th>Date</th>
						<th>Action</th>

					</tr>
				</thead>
				<tbody>

					<tr>
						<td>1</td>
						<td>WLG203949</td>
						<td>Nileshh Kumar</td>
						<td>Deactive</td>
						<td>2025-06-26 18:04:46</td>
						<td>
							<button class="button primary small transition-3d-hover">
								<i class="icofont-close-line"></i> Delete
							</button>
						</td>
					</tr>



				</tbody>
			</table>




		</div>
	</div>
</div>

