@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn offcanvas-close-btn">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__top mb-50 d-flex justify-content-between align-items-center">
                <div class="offcanvas__logo logo">
                    <a href="home-main.html">
                        <img style="width:120px;" src="~/Home/logo/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="tp-main-menu-mobile mb-35"></div>
            <div class="offcanvas__btn">
                <a asp-controller="Home" asp-action="Login" class="tp-btn w-100">Sign In</a>
            </div>

            <div class="offcanvas__social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay"></div>
<main>

    <!-- feature-area-start -->
    <section class="feature-area pt-40 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tpchoose-thumb p-relative mb-50">
                        <img class="tpchoose-border-anim" src="~/Home/assets/images/about.jpg" alt="">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-content-4 pl-70">
                        <div class="section-wrapper mb-40">
                            <span>About PayRing</span>
                            <h5 class="section-title-4 section-title-4-2">About us</h5>
                        </div>
                        <ul class="feature-list-4">
                            <li>
                                <div class="feature-list-4-item p-relative d-flex">

                                    <div class="feature-list-4-content">
                                        <p>At The PayRing Emerging Capital, we believe in a direct and transparent approach to investment. Instead of relying on cryptocurrencies, we offer a unique opportunity for our users to deposit their funds as staking and receive a daily return on investment (ROI) based on their chosen investment package.</p>
                                    </div>
                                    <div class="feature-4-shape-1 d-none d-md-block">
                                        <svg class="line-dash-path" width="38" height="122" viewBox="0 0 38 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.279297 1C41.9846 20.0005 55.1988 87.9525 2.74393 121.294" stroke="#A7ACB3" stroke-dasharray="4 4" />
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="feature-list-4-item p-relative d-flex">
                                    <div class="feature-list-4-content">
                                        <h4 class="title">About The PayRing</h4>
                                        <p>With many years of experience, PayRing Emerging Capital is committed to providing a trustworthy and honorable platform for profit generation. Our ultimate goal is to create an environment where you can achieve big and shape your present and future, bringing happiness into your life.</p>
                                        <p>As a highly experienced company in the NSE Stocks market, we specialize in offering excellent financial services. Our team of experts is skilled in trading equity, MCX, Nifty F&O, and more, catering to various customer needs. We leverage our expertise and invest in stocks and the NSE BSE to generate promising returns for our stakeholders.</p>
                                    </div>
                                    <div class="feature-4-shape-2 d-none d-md-block">
                                        <svg class="line-dash-path" width="42" height="122" viewBox="0 0 42 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M41.3076 1.22192C-1.33493 18.0137 -18.0874 85.181 32.5507 121.222" stroke="#A7ACB3" stroke-dasharray="4 4" />
                                        </svg>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-area-end -->
    <!-- optimize-area-start -->
    <section class="optimize-area optimize-wrapper pb-140">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="optimize-wrapperp pt-35">
                        <div class="section-wrapper mb-40">
                            <span>Mission/Vision</span>
                            <h5 class="section-title-4 section-title-4-2">Our Mission </h5>
                            <p>
                                At PayRing Emerging Capital, our mission is to manage and trade the vast funds in the NSE, while ensuring the success of our investors' portfolios on a global scale. We are dedicated to providing sophisticated and unique solutions, offering financial freedom and hassle-free returns with minimal risk. Through our investment strategies in stocks and the NSE BSE, we aim to deliver consistent and profitable returns for our staking users.
                            </p>
                            <h5 class="section-title-4 section-title-4-2">Our Vision </h5>
                            <p>
                                We strive to be recognized as a leading company, empowering our clients to succeed in the ever-evolving financial markets worldwide. We aim to be valued for our commitment to client satisfaction, exceptional service performance, financial strength, and profitability. At Bluemoon Emerging Capital, we continuously work hard to enhance our reputation for accessibility, professionalism, in-depth analysis, and the quality of our long-term consultative relationships with clients.

                                Join Bluemoon Emerging Capital today, deposit your funds as staking, and experience a reliable and profitable investment journey like never before. Start earning daily ROI on the basis of your investment package, as we invest in stocks and the NSE BSE to maximize your returns.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="optimize-thumb text-end p-relative pt-35">
                        <div class="optimize-thumb-img">
                            <img class="img-fluid rounded" src="~/Home/assets/images/mission.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- optimize-area-end -->
    <!-- testimonial-area-start -->
    <section class="testimonial-area pb-60 scene fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="testimonial-4-thumb p-relative pb-60">


                        <div class="">
                            <img class="img-fluid rounded" src="~/Home/assets/images/greeting.jpg" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tp-testimonial-4 pb-60">
                        <div class="testimonial-4-wrap mb-40 pl-70">
                            <div class="section-wrapper mb-50">
                                <span></span>
                                <h5 class="section-title-4 section-title-4-2">A faster way to do just about anything</h5>
                                <p>Clarinet accustomed. Would legs of framework officers. We've to morning like a contracting him, the the to said in need gradually wellfeigned.</p>
                                <p>We're really proud of the work we've done together. Whether it's a brand or a new online business, we jump in passionately with both feet.</p>
                            </div>
                            <div class="testimonial-4-wrapper tptestimonial-4-active">
                                <div class="tptestimonial-4-item">

                                    <div class="tptestimonial-4-content d-flex">

                                        <div class="tptestimonial-4-text">
                                            <p>
                                                <b>Licensed & Certified</b><br>
                                                May moment. Ever a proposal, texts time, place end and heard assistant confidence instead designer
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="tptestimonial-4-item">

                                    <div class="tptestimonial-4-content d-flex">

                                        <div class="tptestimonial-4-text">
                                            <p>
                                                <b>Saving & Investments</b>
                                                May moment. Ever a proposal, texts time, place end and heard assistant confidence instead designer
                                            </p>

                                        </div>
                                    </div>
                                </div>

                                <div class="tptestimonial-4-item">

                                    <div class="tptestimonial-4-content d-flex">

                                        <div class="tptestimonial-4-text">
                                            <p>
                                                <b>100% Secure Investments</b>
                                                May moment. Ever a proposal, texts time, place end and heard assistant confidence instead designer
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="testimonial-arrow-4 pl-110">
                            <div class="tptestimonal-4-nav p-relative">
                                <button class="prv-testi-case">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" fill="none"
                                             viewBox="0 0 8 14">
                                            <path fill-rule="evenodd"
                                                  d="M7.707.293a1 1 0 0 1 0 1.414L2.414 7l5.293 5.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </button>
                                <button class="next-testi-case">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" fill="none"
                                             viewBox="0 0 8 14">
                                            <path fill-rule="evenodd"
                                                  d="M.293 13.707a1 1 0 0 1 0-1.414L5.586 7 .293 1.707A1 1 0 1 1 1.707.293l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414 0z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->




</main>
