@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn offcanvas-close-btn">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__top mb-50 d-flex justify-content-between align-items-center">
                <div class="offcanvas__logo logo">
                    <a href="home-main.html">
                        <img style="width:120px;" src="~/Home/logo/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="tp-main-menu-mobile mb-35"></div>
            <div class="offcanvas__btn">
                <a asp-controller="Home" asp-action="Login" class="tp-btn w-100">Sign In</a>
            </div>

            <div class="offcanvas__social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay"></div>
<!-- offcanvas area end -->

<main>
    <!-- offcanvas area start -->

    <div class="">
        <div class="col-lg-12 pt-50">
            <div class="section-wrapper text-center mb-60">
                <span>Contact Us</span>

            </div>
        </div>
    </div>



    <!-- contact-area-start -->
    <section class="contact-area pb-200">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="contact-content mb-30">
                        <h4 class="contact-title">Get in Touch</h4>
                        <p>
                            If you need help with your account or have questions about <br> credit sesame, please visit our
                            Help center.!
                        </p>
                        <div class="contact-info">
                            <a href="" class="contact-mail mb-15">
                                <span>
                                    <svg width="22" height="17" viewBox="0 0 22 17" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.5" d="M21 0.5L11 10.2778L1 0.5H21Z" fill="#9A9DB0" />
                                        <path d="M21 0.5L11 10.2778L1 0.5" stroke="#565764" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M1 0.5H21V15.6111C21 15.8469 20.9122 16.073 20.7559 16.2397C20.5996 16.4064 20.3877 16.5 20.1667 16.5H1.83333C1.61232 16.5 1.40036 16.4064 1.24408 16.2397C1.0878 16.073 1 15.8469 1 15.6111V0.5Z"
                                              stroke="#565764" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M9.18229 8.5L1.26562 16.2444" stroke="#565764" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M20.7526 16.2444L12.8359 8.5" stroke="#565764" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span class="__cf_email__" data-cfemail="">info@payring.com</span>
                                <i>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7H13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M7 1L13 7L7 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </i>
                            </a>
                        </div>
                        <div class="contact-social">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-6 col-lg-6">
                    <div class="contact-form">
                        <h4 class="contact-form-title">Contact Us</h4>
                        <form id="contact-form" action="#" method="POST">
                            <div class="contact-form-input">
                                <input name="name" type="text" placeholder="Full name">
                            </div>
                            <div class="contact-form-input">
                                <input name="email" type="email" placeholder="Your email">
                            </div>
                            <div class="contact-form-input">
                                <input name="subject" type="text" placeholder="Subject">
                            </div>
                            <div class="contact-form-input">
                                <textarea name="message" placeholder="Your Comment"></textarea>
                            </div>
                            <div class="contact-form-check d-flex align-items-center mb-25">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="contact-form-label" for="">
                                    By submitting, i’m agreed to the
                                    Terms & Conditons
                                </label>
                            </div>
                            <div class="contact-form-btn">
                                <button type="submit" class="tp-btn">Send Message</button>
                            </div>
                        </form>
                        <p class="ajax-response"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-area-end -->

</main>