@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="main-title">Hi, Welcome Back!</h4>
<div class="row merged20 mb-3">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="d-widget soft-red">
            <div class="d-widget-title">
                <h5>Total User</h5>
            </div>
            <div class="d-widget-content">
                <h5>223</h5>
                <i class="icofont-users-alt-5"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="d-widget soft-blue">
            <div class="d-widget-title">
                <h5>Total Active User</h5>
            </div>
            <div class="d-widget-content">
                <h5>5016</h5>
                <i class="icofont-users-alt-5"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="d-widget soft-green">
            <div class="d-widget-title">
                <h5>Total Deactive User</h5>
            </div>
            <div class="d-widget-content">
                <h5>0</h5>
                <i class="icofont-users-alt-5"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 mt-3">
        <div class="d-widget soft-red">
            <div class="d-widget-title">
                <h5>Total Topup User</h5>
            </div>
            <div class="d-widget-content">
                <h5>0</h5>
                <i class="icofont-users-alt-5"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 mt-3">
        <div class="d-widget soft-blue">
            <div class="d-widget-title">
                <h5>Total Non Topup User</h5>
            </div>
            <div class="d-widget-content">
                <h5>0</h5>
                <i class="icofont-users-alt-5"></i>
            </div>
        </div>
    </div>
</div>
