
@{
    ViewData["Title"] = "UserDashBoard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row">
	<div class="col-lg-12">
		<div class="panel-content">
			<h4 class="main-title">Hi, Welcome Back!</h4>
			<div class="row merged20 mb-3">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="d-widget soft-red">
						<div class="d-widget-title">
							<h5>Total Team</h5>
						</div>
						<div class="d-widget-content">
							<h5>223</h5>
							<i class="icofont-users-alt-5 "></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="d-widget soft-blue">
						<div class="d-widget-title">
							<h5>Total Direct</h5>
						</div>
						<div class="d-widget-content">

							<h5>5016</h5>
							<i class="icofont-brand-designbump"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="d-widget soft-green">
						<div class="d-widget-title">
							<h5>Direct Income</h5>
						</div>
						<div class="d-widget-content">

							<h5>0</h5>
							<i class="icofont-chart-flow-2"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-red">
						<div class="d-widget-title">
							<h5>Level Income</h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-chart-histogram"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Cashback Income</h5>
						</div>
						<div class="d-widget-content">

							<h5>0</h5>
							<i class="icofont-retweet"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Weekly Salary </h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-money-bag"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Monthly Salary 	 </h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-money-bag"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Topup Wallet </h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-wallet"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Income Wallet </h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-wallet"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Income Limit </h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-box"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Income Received </h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-download"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 mt-3">
					<div class="d-widget soft-blue ">
						<div class="d-widget-title">
							<h5>Income Pending </h5>
						</div>
						<div class="d-widget-content">
							<h5>0</h5>
							<i class="icofont-pause"></i>
						</div>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

